* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 25px;
  background-color: orange;
}
.header .header-logo {
  font-weight: bolder;
}
.header .header-search-input {
  padding: 5px 25px;
  border-radius: 10px;
}
.header .header-buttons {
  display: flex;
  gap: 15px;
}
.header .header-buttons #cart, .header .header-buttons #login, .header .header-buttons #register {
  cursor: pointer;
  border: none;
  background-color: black;
  padding: 5px 20px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}
.header .header-buttons #register {
  background-color: blue;
}
.header .header-buttons #login {
  background-color: red;
}

main {
  padding: 20px;
}
main h1 {
  text-align: center;
}

.categories {
  display: flex;
  margin-top: 20px;
  gap: 20px;
  justify-content: center;
}
.categories .category-card {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}
.categories .category-card:hover {
  transform: scale(1.05);
}
.categories .category-card img {
  width: 100%;
  border-radius: 10px;
}
.categories .category-card p {
  position: absolute;
  bottom: 10px;
  font-size: 18px;
  background-color: white;
  padding: 10px 50px;
  border-radius: 10px;
  font-weight: 800;
  box-shadow: 2px 2px 10px black;
  transition: all 0.3s;
}
.categories .category-card p:hover {
  background-color: green;
  color: white;
}

#product-sec {
  margin-bottom: 50px;
}
#product-sec h1 {
  margin: 40px 0px;
  text-align: center;
}
#product-sec .products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  row-gap: 40px;
}
#product-sec .products .product {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 300px;
  box-shadow: 0px 0px 10px gray;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
}
#product-sec .products .product:hover {
  transform: translate(10px, -10px);
}
#product-sec .products .product img {
  width: 100%;
  border-radius: 20px;
}
#product-sec .products .product p {
  font-weight: 600;
  font-size: 16px;
}
#product-sec .products .product .product-bottom {
  border: 2px solid black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  align-items: center;
}
#product-sec .products .product .product-bottom button {
  padding: 10px;
  background-color: yellow;
  color: black;
  border: none;
  border-radius: 20px;
  transition: all 0.3s;
  cursor: pointer;
}
#product-sec .products .product .product-bottom button:hover {
  background-color: orange;
}

.users {
  display: flex;
  gap: 20px;
  padding: 50px;
  justify-content: center;
  gap: 50px;
}
.users .user {
  max-width: 250px;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}
.users .user:hover {
  transform: scale(1.05);
}
.users .user img {
  width: 100%;
  border-radius: 10px;
}
.users .user p {
  background-color: darkblue;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  transition: all 0.3s;
}
.users .user p:hover {
  background-color: red;
}/*# sourceMappingURL=style.css.map */